form
{
    width: 700px;
    margin-top: 2px;
    margin-left: 334px;
}

.row
{
    
    padding: 5px 2px;
    font-size: medium;
     margin-bottom: 3px;
}
.row-head
{
    text-align: center;
}
.head
{
font-size: x-large;
}
.border
{
    padding: 15px;
    border-radius: 3px;
}
.submittedData
{
    width: 702px;
    margin-left: 333px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 15px;
}