<div class="container" >
    <table class="table table-responsive mb-1px">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.title}}</td>
                <td><img src="{{item.image}}" style="width: 120px;"></td>
                <td style="width: 30%;">{{item.description}}</td>
                <td style="width: 10%;">£ {{item.price}}</td>
            </tr>
           
        </tbody>
    </table>
</div>
